<template>
  <div class="container">
    <div class="header">
      <input @keyup.enter="buscar" type="text" v-model="word" />
      <button @click="buscar">Buscar</button>
    </div>
    <div class="list" v-if="result.length>0">
      <card-video v-for="(item,i) in result" :video="item" :key="i"></card-video>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import CardVideo from "@/components/CardVideo.vue";

export default {
  data() {
    return {
      word: "",
      result: [],
    };
  },
  created() {},
  methods: {
    async buscar() {
      const BASE_URL = `http://localhost:4000/?q=${this.word}`;
      const response = await axios.get(BASE_URL);
      if (response.status == 200) {
        this.result = response.data.data;
      }
    },
  },
  components: {
    "card-video": CardVideo,
  },
};
</script>
<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  .header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
    input {
      border: none;
      border-right: 3px solid #ff0000;
      width: 280px;
      height: 30px;
      padding: 10px 10px 10px 20px;
      border-radius: 25px 0 0 25px;
      outline: 0;
    }
    button {
      width: 75px;
      border: none;
      border-radius: 0 25px 25px 0;
      background-color: white;
      cursor: pointer;
      height: 30px;
      outline: 0;
    }
  }
  .list {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    @media (max-width: 600px) {
      padding: 40px;
    }
  }
}
</style>

