<template>
  <div class="card-item">
    <a :href="urlVideo(video.id.videoId)" class target="_blank">
      <div class="item">
        <div class="item__img">
          <img :src="video.snippet.thumbnails.medium.url" alt srcset />
        </div>
        <div class="item__info">
          <h2>{{video.snippet.title}}</h2>
          <p>{{video.snippet.description}}</p>
        </div>
      </div>
    </a>
  </div>
</template>
<script>
export default {
  props: ["video"],
  methods: {
    urlVideo(id) {
      return `https://www.youtube.com/watch?v=${id}`;
    },
  },
};
</script>
<style lang="scss" scoped>
.card-item {
  width: 25%;
  padding: 10px;

  @media (max-width: 600px) {
    width: 100%;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .item {
    &__img {
      width: 100%;
      img {
        width: 100%;
      }
    }
    &__info {
      padding: 5px 10px 5px 0;
      h2 {
        font-size: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      p {
        font-size: 12px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-top: 5px;
      }
    }
  }
}
</style>